@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--background: #ffffff;
	--foreground: #101828;
}

.dark {
	@theme {
		--background: #101828;
		--foreground: #f1f5f9;
	}
}

@layer base {
	html,
	body {
		background-color: var(--background);
		color: var(--foreground);
	}
}
