@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--background: #ffffff;
	--foreground: #101828;
}

.dark {
	@theme {
		--background: #101828;
		--foreground: #f1f5f9;
	}
}

@layer base {
	html,
	body {
		background-color: var(--background);
		color: var(--foreground);
	}
}

.btn-primary {
	@apply inline-flex items-center gap-x-2 rounded-lg border border-transparent bg-blue-600 px-4 py-3 text-sm font-medium text-white hover:bg-blue-700 focus:bg-blue-700 focus:outline-hidden disabled:pointer-events-none disabled:opacity-50;
}
