@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--background: #ffffff;
	--foreground: #101828;
}

.dark {
	@theme {
		--background: #101828;
		--foreground: #f1f5f9;
	}
}

@layer base {
	html,
	body {
		background-color: var(--background);
		color: var(--foreground);
	}
}

.btn-primary {
	@apply inline-flex items-center gap-x-2 rounded-lg border border-transparent bg-blue-600 px-4 py-3 text-sm font-medium text-white hover:bg-blue-700 focus:bg-blue-700 focus:outline-hidden disabled:pointer-events-none disabled:opacity-50;
}

.btn-soft {
	@apply inline-flex items-center gap-x-2 rounded-lg border border-transparent bg-blue-100 px-4 py-3 text-sm font-medium text-blue-800 hover:bg-blue-200 focus:bg-blue-200 focus:outline-hidden disabled:pointer-events-none disabled:opacity-50 dark:text-blue-400 dark:hover:bg-blue-900 dark:focus:bg-blue-900;
}

.btn-danger {
	@apply inline-flex items-center gap-x-2 rounded-lg border border-transparent bg-red-100 px-4 py-3 text-sm font-medium text-red-800 hover:bg-red-200 focus:bg-red-200 focus:outline-hidden disabled:pointer-events-none disabled:opacity-50 dark:bg-red-800/30 dark:text-red-500 dark:hover:bg-red-800/20 dark:focus:bg-red-800/20;
}

.btn-warn {
	@apply inline-flex items-center gap-x-2 rounded-lg border border-transparent bg-yellow-100 px-4 py-3 text-sm font-medium text-yellow-800 hover:bg-yellow-200 focus:bg-yellow-200 focus:outline-hidden disabled:pointer-events-none disabled:opacity-50 dark:bg-yellow-800/30 dark:text-yellow-500 dark:hover:bg-yellow-800/20 dark:focus:bg-yellow-800/20;
}

.custom-card {
	@apply mt-2 flex flex-col rounded-xl border border-gray-200 p-4 shadow-2xs md:p-5 dark:border-neutral-700 dark:text-neutral-400;
}

.input-default {
	@apply border-gray-200 focus:border-blue-500 focus:ring-blue-500;
}

.input-error {
	@apply border-red-500 focus:border-red-500 focus:ring-red-500;
}

.custom-input {
	@apply block w-full rounded-lg px-4 py-2.5 disabled:pointer-events-none disabled:opacity-50 sm:py-3 sm:text-sm dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600;
}

.custom-select {
	@apply block w-full rounded-lg border-gray-200 px-4 py-3 pe-9 text-sm focus:border-blue-500 focus:ring-blue-500 disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600;
}

#menu-button {
	anchor-name: --mobile-menu-popover;
}

#mobile-menu-popover[popover] {
	position-anchor: --mobile-menu-popover;
	inset: auto;
	bottom: anchor(top);
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 1rem;
}
