@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--background: #ffffff;
	--foreground: #101828;
}

.dark {
	@theme {
		--background: #101828;
		--foreground: #f1f5f9;
	}
}

@layer base {
	html,
	body {
		background-color: var(--background);
		color: var(--foreground);
	}
}

.btn-primary {
	@apply inline-flex items-center gap-x-2 rounded-lg border border-transparent bg-blue-600 px-4 py-3 text-sm font-medium text-white hover:bg-blue-700 focus:bg-blue-700 focus:outline-hidden disabled:pointer-events-none disabled:opacity-50;
}

.input-default {
	@apply border-gray-200 focus:border-blue-500 focus:ring-blue-500;
}

.input-error {
	@apply border-red-500 focus:border-red-500 focus:ring-red-500;
}

.custom-input {
	@apply block w-full rounded-lg px-4 py-2.5 disabled:pointer-events-none disabled:opacity-50 sm:py-3 sm:text-sm dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600;
}
